<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title> <%- content %></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-2/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-2/css/5-2.css">
<link rel="stylesheet" type="text/css" href="./login.css">
</head>

<body>

<h1> <%- content %></h1>  
  
</body>
</html>